[access]
	inheritFrom = All-Projects
[project]
	description = SIP end to end connector
[access "refs/for/*"]
	pushMerge = group gw-sip
[access "refs/for/refs/heads/*"]
	push = group gw-sip
[access "refs/for/refs/heads/feature/*"]
	pushMerge = group Non-Interactive Users
	pushMerge = group gw-sip
[access "refs/heads/*"]
	abandon = group gw-sip
	create = group gw-sip
	forgeAuthor = group gw-sip
	label-Code-Review = -2..+2 group gw-sip
	submit = group gw-sip
	editTopicName = group gw-sip
